{% extends "base.html" %}

{% block content %}

<section class="section">
    <div class="container">
        <h1 class="title">Ergal</h1>
        <h2 class="subtitle">A derivation of the Greek word εργαλείο (meaning tool)</h2>
        <div class="columns">
        <h3>API integrations can be cumbersome and messy, Ergal makes this process clean and efficient by creating API profiles stored in a lightweight SQLite database. Each profile can store hundreds of API endpoints allowing for easy and concise integration. Ergal is also fully async, making it significantly faster and more efficient than traditional linear implementations allowing users to build solutions with vast API integrations into lightweight deployments. Setting up an Ergal profile for an API allows for rapid prototyping of solutions with low overhead, perfect for a devops environment.</h3>
        <img src="{{ url_for('static', filename='img/Diagram.png') }}">
        </div>
    </div>
</section>

{% endblock %}